.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10; 
    height: 103vh;
    width: 100%;
    top: 0;
    background-color: rgba(0,0,0,0.93);
}