.cardDetails {
    display: flex;
    margin-top: 30px;
    gap: 10px;
}

.cardDetails__img {
    object-fit: cover;
    max-height: 400px;
    min-height: 200px;
}

.cardDetails__items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    gap: 10px;
}

.cardDetails__item {
    font-size: 1rem;
}

.cardDetails__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 4px;
    text-align: center;
    width: 100%;
}

.cardDetails__rating {
    color: #ffd23e;
}

.cardDetails__subtitle {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.cardDetails__price {
    color: #5b3eff
}

.cardDetails__details {
    font-size: 1rem;
}

.cardDetails__desc {
    padding: 10px;
}

.cardDetails__btns {
    margin-top: 5px;
    width: 100%;
}

.cardDetails__btn1 {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
}

.cardDetails__btn2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.cardDetails__quantity {
    font-size: 1rem;
}

@media screen and (max-width: 769px) {
    .cardDetails {
        flex-direction: column;
        justify-self: center;
        align-items: center;
        margin: 20px;
    }

    .cardDetails__img {
        width: 280px;
    }
}