.cartitem {
    display: flex;
    align-items: center;
    gap: 2;
}

.cartitem__img {
    width: 85px;
    height: 75px;
    object-fit: cover;
}

.cartitem__quantityprice {
    margin: auto;
    text-align: start;
}

.cartitem__tqcontainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.cartitem__quantity {
    color: #464646;
    font-size: .65rem;
}

.cartitem__price {
    color: #464646;
    font-size: .75rem;
}

.cartitem__buttonsquantity {
    display: flex;
    flex-direction: column;
}

.cartitem__buttons {
    display: flex;
    justify-content: center;
    gap: .5rem;
}

/*dark-mode*/

body.dark-mode .cartitem__quantityprice .cartitem__quantity, .cartitem__price{
      color: var(--white-color);
}